<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExplorerTabUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExplorerTabUtility.Properties.Settings>
            <setting name="WindowHook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyboardHook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKeyProfiles" serializeAs="String">
                <value>[{"Name":"Home","HotKeys":[91,69],"Scope":0,"Action":0,"Path":"","IsHandled":true,"IsEnabled":true,"Delay":0},{"Name":"Duplicate","HotKeys":[17,68],"Scope":1,"Action":1,"Path":null,"IsHandled":true,"IsEnabled":true,"Delay":0},{"Name":"ReopenClosed","HotKeys":[16,17,84],"Scope":1,"Action":2,"Path":null,"IsHandled":true,"IsEnabled":true,"Delay":0}]</value>
            </setting>
            <setting name="SaveProfilesOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </ExplorerTabUtility.Properties.Settings>
    </userSettings>
</configuration>